@import url(https://fonts.google.com/specimen/Single+Day?subset=korean&noto.script=Kore);

.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.header1 {
  flex: 15%;
  background-color: skyblue;
}
.header2 {
  flex: 70%;
  background-color: rgb(113, 196, 54);
}
.header3 {
  flex: 15%;
  background-color: skyblue;
}
.header2_1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(204, 207, 34);
}
.header2_1_1 {
  flex: 50%;
  background-color: rgb(113, 196, 54);
}
.header2_1_2 {
  flex: 50%;
  background-color: rgb(218, 234, 241);
}
.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main1 {
  flex: 15%;
  background-color: skyblue;
}
.main2 {
  flex: 70%;
  background-color: rgb(113, 196, 54);
}
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.main3 {
  flex: 15%;
  background-color: skyblue;
}
